@import "fonts.scss";

/*COLORS*/
$black :     #000;
$white :     #fff;

/*TYPO*/
$eb_garamond-semiBold : "EBGaramond-SemiBold";
$eb_garamond-bold : "EBGaramond-ExtraBold";
$eb_garamond-italic : "EBGaramond-Italic";
$eb_garamond-mediumItalic : "EBGaramond-MediumItalic";

$fjalla_one : "FjallaOne-Regular";

/*RESPONSIVE*/
$mobile: "767px";
$tablet: "1024px";
